.section-about {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('../../assets/gggrain.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
