.about-container {
  width: 100%;
  background-color: #f9f9f9;
  padding-top: 100px;
}
.about-container h1 {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 50px;
}
.about-container .about-content {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}
.about-container .about-content .content_img {
  position: relative;
  flex: 1;
}
.about-container .about-content .content_text {
  flex: 1;
}
.about-container .about-content .content_img img {
  width: 100%;
  height: auto;
  border-radius: 999px 100px 999px 100px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 2;
}
.about-container .about-content .content_img .shape {
  width: 500px;
  height: 300px;
  position: absolute;
  border-radius: 999px 100px 999px 100px;
  top: 0;
  left: 0;
  transform: rotate(-10deg);
  background-color: #fac614;
  z-index: 1;
}
.about-container .about-content .content_img .tag {
  width: 150px;
  height: 150px;
  background-color: #fff;
  position: absolute;
  top: -17%;
  left: 0;
  z-index: 10;
  text-align: center;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.about-container .about-content .content_img .tag h3 {
  font-size: 24px;
  font-weight: 700;
  color: #4eff48;
}
.about-container .about-content .content_text p {
  font-size: 16px;
  text-align: justify;
  line-height: 1.5;
  margin-bottom: 15px;
}
.about-container .about-content .content_text .cta_link {
  display: inline-block;
  padding: 15px 30px;
  background-color: #fac614;
  border-radius: 5px;
  transition: all 0.5s ease;
}
.about-container .about-content .content_text .cta_link .link {
  font-size: 16px;
  color: #222;
  font-weight: 700;
  transition: color 0.5 ease;
}
.about-container .about-content .content_text .cta_link:hover {
  background-color: #4eff48;
  transform: scale(1.1);
}
.about-container .about-content .content_text .cta_link:hover .link {
  color: #fff;
}

@media only screen and (max-width: 1000px) {
  .about-container .about-content {
    flex-direction: column;
    align-items: center;
  }
  .about-container .about-content .content_img img,
  .about-container .about-content .content_img .shape {
    width: 500px;
  }
  .about-container .about-content {
    gap: 50px;
  }
}
@media only screen and (max-width: 768px) {
  .about-container .about-content .content_img img {
    width: 450px;
  }
  .about-container .about-content .content_img .shape {
    width: 400px;
  }
}
@media only screen and (max-width: 450px) {
  .about-container .about-content .content_img img {
    width: 300px;
  }
  .about-container .about-content .content_img .shape {
    width: 300px;
    height: 200px;
    top: -10px;
  }
}
