.pengurus {
  width: 100%;
  height: auto;
  padding: 100px;
}
.team-container {
  text-align: center;
}
.team-container h1 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}
.leader-card {
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 250px;
  height: 300px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.leader-card h2 {
  font-size: 16px;
  margin-bottom: 10px;
}
.leader-card p {
  font-size: 14px;
}
.member-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
.member-card {
  padding: 15px;
  width: 250px;
  height: 300px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.member-card .text h3 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 12px;
}
.member-card .text p {
  font-size: 12px;
}
.profile-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}
