.departemen {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5%;
  background: url('/src/assets/gggrain.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.content {
  width: 100%;
  text-align: center;
}
.content h3 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 15px;
}
.content p {
  font-size: 16px;
  font-weight: 400;
}
