.makna-logo {
  background-color: #fff;
  width: 100%;
  padding: 20px;
  margin-top: 20px;
}
.makna-logo h1 {
  text-align: center;
  margin-bottom: 20px;
}
.makna-logo .content {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 16px;
}
.makna-logo .content img {
  width: 300px;
}
/* Mobile Devices */
@media (max-width: 768px) {
  .makna-logo .content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .makna-logo .content img {
    width: 200px;
  }

  .makna-logo h1 {
    font-size: 24px;
  }

  /* Adjust Timeline for small screens */
  .makna-logo .timeline-makna {
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .makna-logo .content {
    gap: 32px;
  }

  .makna-logo .content img {
    width: 350px;
  }

  .makna-logo h1 {
    font-size: 32px;
  }
}
